*{
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	background-color: #00AEEF;
	width: 100%;
	height: 90px;
	justify-content: space-around;
	align-items: center;
}
.header-left {
	background-color: #009BDD;
	width: 240px;
	height: 45px;
}
.header-right {
	background-color: #36C3FF;
	width: 240px;
	height: 45px;
}
.content  {
	margin: auto;
	display: flex;
	width: 70%;
	height: auto;
	background-color: #ccc;
}
nav {
	background-color: #FF5607;
	height: 100%;
	width: 20%;
}
.navigation {
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.nav-element {
	margin-left: 20px;
	background-color: #E84900;
	width: 70%;
	height: 30px;
}
.nav-element:first-child {
	margin-top: 10px;
}
.main-information {	
	padding-left: 10px;
	background-color: white;
	width: 80%;
	height: auto;
}
.orange-squad {
	margin: 20px 50px 10px 0;
	float: left;
	width: 40%;
	height: 170px;
	background-color: #FFBD00;
}
.right-squad {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: auto;
	height: 170px;
}
.strong-line {
	width: 100%;
	height: 30PX;
	background-color: #9D9D9D;
}
.ussual-line {
	width: 100%;
	height: 20px;
	background-color: #CECECE;
}
.bottom-squad {
	height: 380px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
footer {
	display: inline-flex;
	background-color: #00D169;
	width: 100%;
	height: 180px;
	justify-content: center;
	align-items: center;
}
.footer-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5px;
	background-color: #02B15A;
	width: 140px;
	height: 80%;
}
.footer-content {
	margin: 5px;
	width: 80%;
	height: 20px;
	background-color: #038042;
}
 @media (max-width: 1240px) { 
 	.content {
 		width: 100%;
 	}
 	.main-information {	
		padding-right: 10px;	
	}
}
 @media (max-width: 375px) { 
 	header {
 		padding: 5px 0 5px 0;
 		flex-direction: column;
 	}
 	.header-left {
		width: 90%;
		height: 30px;
	}
	.header-right {
		width: 90%;
		height: 30px;
	}
	.content {
		flex-direction: column;
	}
	nav	{
		width: 100%;
		height: 70px;
	}
	.navigation{

		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.nav-element:first-child {
		margin-top: 0;

	}
	.nav-element {
		width: 25%;
		margin-left: 0;
	}
	
	.block {
		display: none;
	}
	.main-information {
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 0;
	}
	.orange-squad {
		width: 100%;
		margin: 0;
	}
	.right-squad {
		margin:auto;
		width: 90%;
		margin-bottom: 8px;
	}
	.bottom-squad {
		margin: auto;
		width: 90%;
	}
	footer {
		padding: 10px 0 10px 0;
		height: auto;
		flex-direction: column;
	}
	.footer-block {
		padding: 10px;
		align-items: flex-start;
		width: 80%;
	}
	.footer-content {

		width: 50%;
	}
	.foo {
		display: none;
	}
}
	/*  flex-direction: row row | column | row-reverse | column-reverse;
  flex-wrap: nowrap; nowrap | wrap |wrap-reverse */
  /*  

display: flex;
  flex-wrap: wrap;
  


						<div class="bottom-info">	
								
							</div>






  align-content: flex-start;
  */
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */ /*flex-start | flex-end | center | space-between | */
  /* align-items: basline; */ /* flex-start | flex-start | center */;
  /*  */
 