

body{
    background-color: #638a79;
    background-image: url("img/body-bg.png");
    background-repeat: repeat-x;
    font-size: 13px;
    font-family: Arial;
    color: #333;
    line-height: 18px;
}

.content {
	width: 840px;
	background-color: #FFF;
	margin: auto;
	margin-top: 100px;

}
.content .content-top {
	height: 12px;
	background: url(img/content-bg.png) 0 0;
}
.content .content-bottom {
	height: 12px;
	background: url(img/content-bg.png) -840px 0;
}
.content .content-middle {
	padding: 20px 30px 20px 30px;
}
	
h1 {
	font-size: 26px;
	line-height: 38px;
	color: #2b8c57;
	font-weight: normal;
	margin-bottom: 10px;
}
h2 { 
	font-size: 18px;
	line-height: 28px;
	color: #2b8c57;
	font-weight: normal;
	font-style: italic; 
	margin: 30px 0 15px 0;
}
	
div.block-1 {
	color: #FFF;
	font-style: italic; 
	font-size: 12px;
	padding: 20px 30px 20px 30px;
	background: url(img/block-1-bg.png);
	background-repeat: repeat-x;
	background-color: #2b8c57;


}
div.block-2 {
	color: #FFF;
	font-style: italic; 
	font-size: 12px;
	padding: 20px 30px 20px 30px;
	background-color: #356149;
	background-image: url(img/picture-1.png);
	background-repeat: no-repeat;
	background-position: right bottom;

}

a.button {
	display: block;
	background-image: url(img/button-1.png);
	background-repeat: no-repeat;
	width: 121px;
	height: 38px;
	text-decoration: none;
}
a.button:hover {
	background-position: center;

}
a.button:active {
	background-position: bottom;
}