.container {
	width: 40%;
	margin: auto;
}
.button {
	height: 50px;
	width: 90%;
}
.in {
	resize: none;
	margin-top: 20px;
	height: 50px;
	width: 90%;
}
@media (max-width: 600px) { 
  .container {
  	width: 100%;
  }
  .button {
  	width: 100%;
  }
  .in {

  	width: 100%;
  }
}